<% provide(:title, "Address list") %>
<h1>Address list</h1>

<div class="row">
	<%= render 'shared/user_options' %>

	<div class="col-md-9">
		<div class="dashboard-header">
			<h2>Address list</h2>
			<%= link_to "Create new address >", new_address_list_path %>
		</div>
		<div class="dashboard-address">
		<% if @address_lists.any? %>
			<%= render @address_lists %>
		<%= will_paginate%>			
		<% else %>
			<%= @text ="<h3>Not have any addresses</h3>".html_safe %>
		<% end %>
		</div>
	</div>
</div>